\h RULES \d

Spell out a code of player conduct. It should be clear to players how they are expected to behave.
"...players have a prevailing attitude that anything the virtual world lets them do, they're allowed to do." p.548
Age, harassment (with special attention to sexual orientation), RP (IC) vs. OOC, PD, PvP, multi-playing, bug abuse, loss of items.
IC communication must always be appropriate for the context of the virtual world. References to reality are not allowed.
Make it clear that by playing your virtual world, players are consenting to PD and PvP.
"Evilness is not a winning strategy."
"Yours is just one way of many to play."

Players should be made aware that their privacy cannot be guaranteed. Player activity is always logged, and admins have the ability to monitor player activity, with the express purpose of 1) ensuring that players are playing by the rules, and 2) tracking down bugs.

age
RP
cheating
death / retire
harassment
multiplaying
pk

Cmds w/ RULES:

\uSEE ALSO\n
about, admin, bug, motd, typo
